LOG_LEVEL=log,error,warn,debug,verbose,fatal
CONT_CONFIRMATION_DEPTH=6
POLL_TIMEOUT=600000
POLL_INTERVAL=10000
KADENA_GAS_STATION_MODULE_NAME=n_9b079bebc8a0d688e4b2f4279a114148d6760edf.kinesis-gas-station
GAS_STATION_GAS_LIMIT=3000
GAS_STATION_GAS_PRICE=0.00000001
GAS_STATION_PAYER=u:n_9b079bebc8a0d688e4b2f4279a114148d6760edf.kinesis-gas-station.gas-payer-guard:DldRwCblQ7Loqy6wYJnaodHl30d3j3eH-qtFzfEv46g