# This is an example configuration file. Please copy it to .env and edit it to your needs.

# Default key configuration
# Please note that this pub key will be used as a principle account (with "k:" prefix)
DEFAULT_PUBKEY="83a5cfcdcbec1d513a2d02ab0f0b61e30c9be22d9c09af001affe79885414450"
DEFAULT_PRIVKEY="79e3b0161be8d6e200cb1d3736625eb0daf20a12186687c72cdcfeab18845444"

# Vault configuration
VAULT_TOKEN="hvs.cUQ8nCxqXaL4HQFHQMQIIU7d"
VAULT_ADDRESS="http://localhost:8200"
VAULT_KEY_ID="test-key"

# Kadena proxy configuration
KADENA_PROXY_URL="http://localhost:3000"

# Chainweb configuration
NETWORK_ID="development"
CHAIN_ID="0"
RPC_URL="http://localhost:8080"
